nav{
    display: flex;
    justify-content: space-between;
    width:100%;
    background:lightgray; 
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
   gap: 20px;   
}
li{
    text-align: center;
    padding: 5px;
}




